{% extends 'base.html.twig' %}
{% trans_default_domain 'user' %}

{% block title %}{{ 'user.edit' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.edit' | trans }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
